@charset "utf-8";

/* RESET

-----------------------------------------------------------------------------------------------

===============================================================================================*/

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }


button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input:focus { outline: none; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }
textarea:focus {outline: none;}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 0 30px 0; padding: 5px 20px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }


pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }


pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }


sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

p {
	margin-top:0;
	line-height:22px;
	margin-bottom:17px;
}
/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 13px;}
dd { margin: 0 0 0 40px; }
/* =============================================================================
   Embedded content
   ========================================================================== */


img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
img[align="left"] {
    float: left;
    margin: 0 1em 1em 0;
}
img[align="right"] {
    float: right;
    margin: 0 0 1em 1em;
}

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; line-height: normal;}


/* OTHER ELEMENTS

--------------------------------------------------------- */
.fleft {
	float:left;
}
.fright {
	float:right;
}
.list, .list  ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	list-style-image: none;
}
/*MyriadPro*/
@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('../font/MyriadPro-Bold.eot');
	src: url('../font/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/MyriadPro-Bold.woff') format('woff'),
		 url('../font/MyriadPro-Bold.ttf') format('truetype'),
		 url('../font/MyriadPro-Bold.otf') format('otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'MyriadPro-Italic';
	src: url('../font/MyriadPro-Italic.eot');
	src: url('../font/MyriadPro-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../font/MyriadPro-Italic.woff') format('woff'),
		 url('../font/MyriadPro-Italic.ttf') format('truetype'),
		 url('../font/MyriadPro-Italic.otf') format('otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../font/MyriadPro-Regular.eot');
	src: url('../font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/MyriadPro-Regular.woff') format('woff'),
		 url('../font/MyriadPro-Regular.ttf') format('truetype'),
		 url('../font/MyriadPro-Regular.otf') format('otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('../font/MyriadPro-Semibold.eot');
	src: url('../font/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
		 url('../font/MyriadPro-Semibold.woff') format('woff'),
		 url('../font/MyriadPro-Semibold.ttf') format('truetype'),
		 url('../font/MyriadPro-Semibold.otf') format('otf');
	font-style: normal;
	font-weight: normal;
}
/**/
@font-face {
	font-family: 'PFDinTextPro-Bold';
	src: url('../font/PFDinTextPro-Bold.eot');
	src: url('../font/PFDinTextPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Bold.woff') format('woff'),
		 url('../font/PFDinTextPro-Bold.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Bold.svg#PFDinTextPro-Bold') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'PFDinTextPro-Light';
	src: url('../font/PFDinTextPro-Light.eot');
	src: url('../font/PFDinTextPro-Light.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Light.woff') format('woff'),
		 url('../font/PFDinTextPro-Light.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Light.svg#PFDinTextPro-Light') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PFDinTextPro-Medium';
	src: url('../font/PFDinTextPro-Medium.eot');
	src: url('../font/PFDinTextPro-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Medium.woff') format('woff'),
		 url('../font/PFDinTextPro-Medium.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Medium.svg#PFDinTextPro-Medium') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'PFDinTextPro-Regular';
	src: url('../font/PFDinTextPro-Regular.eot');
	src: url('../font/PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Regular.woff') format('woff'),
		 url('../font/PFDinTextPro-Regular.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Regular.svg#PFDinTextPro-Regular') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'PFDinTextPro-Thin';
	src: url('../font/PFDinTextPro-Thin.eot');
	src: url('../font/PFDinTextPro-Thin.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Thin.woff') format('woff'),
		 url('../font/PFDinTextPro-Thin.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Thin.svg#PFDinTextPro-Thin') format('svg');
	font-style: normal;
	font-weight: normal;
}
/**/
html,body{margin: 0;padding: 0;height: 100%; background: #e4e4e4;}
.clr{clear: both;}
.g-hidden{display: none;}
.g-row{width: 1000px;margin: 0 auto;}
.wrp{width: 100%; margin:0 auto;}
a,
a span{
	color: #0061ae;
	text-decoration: none;
}
a span{
	border-bottom: 1px solid rgba(0, 97, 174,.3);
}
a:hover span{
	border: 0;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	transition:.5s;
}
a:active span{
	border: 0;
	color: #000;
}
.b-box1{width: 160px;height: 160px; float: left; display: block; position: relative;}
.b-box2{width: 320px;height: 260px; float: left; display: block; position: relative;}
.b-box3{width: 320px;height: 440px; float: left; display: block; position: relative;}
.b-box4{width: 660px;height: 440px; float: left; display: block; position: relative;}
.b-box5{width: 235px;height: 320px; float: left; display: block; position: relative;}
.b-vert{ display: table-cell; vertical-align: middle;width: inherit; height: inherit;}

/**/
.left-menu{
	width: 320px;
	background: #fff;
    float: left;
    position: fixed;
    top:0;
    z-index: 10;
    margin-left: -320px;
}
.left-menu_close{
	background: url(../i/close.png) no-repeat;
	width: 29px;
	height: 29px;
	position: absolute;
	top: 73px;
    right: 40px;
    cursor: pointer;
}
.logo-left {
    height: 120px;

}
.logo-left img{
	margin: 50px 0 0 40px;
}
.left-menu:after{
	content: '';
	display: table;
	clear: both;
}
.left-menu_items{
	text-align: center;
	    display: table;

}
.left-menu_items figure {
    margin: 0;
    width: inherit;
    height: inherit;
    vertical-align: middle;
    display: table-cell;
    padding: 0 10px;
}
.left-menu_items figcaption{
	color: #0c2236;
	font: normal 16px/24px 'PFDinTextPro-Medium', sans-serif;
	text-transform: uppercase;
}
.left-menu_items:hover{
	background: #7fbc42;
	color: #fff;
}
.left-menu_items:hover figcaption{
	color: #fff;
}
.left-nav:after{
	content: '';
	display: table;
	clear: both;

}
.socnet-left{
	background: #f4f4f4;
	    height: 80px;
    padding: 30px;
}
.socnet-left h4{
	color: #525d67;
	font:normal 16px/48px 'PFDinTextPro-Medium';
	text-transform: uppercase;
	margin: 0;
}
.socnet-left img{
	margin-right: 30px;
}
/**/
/*header*/
.main-header{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.main-nav{
	margin-top: 50px;
	position: absolute;
	z-index: 2;
	width: 100%;
}
/**/
.locked{
	background: #fff;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 0;
	-webkit-box-shadow: 0 5px 10px 1px rgba(0,0,0,.3);
box-shadow: 0 5px 10px 1px rgba(0,0,0,.3);
	-webkit-transition:.4s;
	-moz-transition:.4s;
	transition:.4s;
}
.locked .phone{
	display: none;
}
.locked .logo {
    float: left;
    width: 90px;
    margin-right: 0;
}
.locked .logo a:first-child img{
	margin:33px 30px 0;
}
.locked .logo-img{
	position: absolute;
	left: 50%;
	margin-left: -80px;
	top: 3px;
}
.locked .countries{
	float: right;
	margin-right: 30px;
	width: 260px;
}
.locked .countries .btn-tour{
	margin-left: 48px;
}
/**/
.logo{
	float: left;
	width: 320px;
	margin-right: 50px;
}
.logo a:first-child img{
	margin:0 30px;
}
.lang{
	float: left;
	width: 160px;
	margin-top: 20px;
}
.lang a{
	color: #0c2236;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0 15px;
	font: normal 16px/40px 'PFDinTextPro-Medium', sans-serif;
}

.lang .active,
.lang a:hover{
	color: #fff;
	background: #0c2236;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.phone{
	float: left;
	width: 160px;
	margin: 30px 20px 0 30px;
	position: relative;
	
}
.phone:before{
	background: url(../i/phone-i.png) no-repeat;
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	left: -30px;
}
.phone a span{
	font: normal 16px/16px 'PFDinTextPro-Medium', sans-serif;
	text-decoration: none;
	border-bottom: 1px dashed;
}
.countries{
	float: left;
	width: 320px;
	position: relative;
	margin-top: 20px;
	margin-left: 60px;
}
.countries a{
	text-transform: uppercase;
	border-bottom: 1px dashed;
}
.countries:before{
	content: '';
	position: absolute;
	background: url(../i/countries-i.png) no-repeat;
	width: 45px;
	height: 27px;
	left: -55px;
	top: 6px;
}
.btn-tour{text-decoration:none; text-align:center; 
 width: 140px;
 height: 40px;
 display: inline-block;
 border:none!important; 
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 font:normal 16px/40px 'PFDinTextPro-Medium', sans-serif;
 color:#fff; 
 background:#0060ae;  
 text-transform: uppercase;
 margin-left: 105px;
  }
 .btn-tour:hover{
 border:none; 
 background-color:#0060ae; 
 background-image: -moz-linear-gradient(top, #0060ae 0%, #1982a5 100%); 
 background-image: -webkit-linear-gradient(top, #0060ae 0%, #1982a5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982a5', endColorstr='#1982a5',GradientType=0 ); 
 background-image: linear-gradient(top, #0060ae 0% ,#1982a5 100%);   
 }
 .btn-tour:active{
 border:none; 
 background-color:#3ba4c7; 
 background-image: -moz-linear-gradient(top, #3ba4c7 0%, #0060ae 100%); 
 background-image: -webkit-linear-gradient(top, #3ba4c7 0%, #0060ae 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0060ae', endColorstr='#0060ae',GradientType=0 ); 
 background-image: linear-gradient(top, #3ba4c7 0% ,#0060ae 100%);    
 }

.bx-main_caption{
	position: absolute;
	top: 0;
    margin-top: 320px;
}
.bx-main_caption p{
	color:#0c2236 ;
	font:bold 78px/96px 'PFDinTextPro-Bold', sans-serif;
	text-transform: uppercase;
	margin-left: 30px;
}
 .bx-main span.gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#116ba7+0,219ac0+29,1a9b7d+67,6eb747+100 */
background: rgb(17,107,167); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(17,107,167,1) 0%, rgba(33,154,192,1) 29%, rgba(26,155,125,1) 67%, rgba(110,183,71,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(17,107,167,1)), color-stop(29%,rgba(33,154,192,1)), color-stop(67%,rgba(26,155,125,1)), color-stop(100%,rgba(110,183,71,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(17,107,167,1) 0%,rgba(33,154,192,1) 29%,rgba(26,155,125,1) 67%,rgba(110,183,71,1) 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to right,  rgba(17,107,167,1) 0%,rgba(33,154,192,1) 29%,rgba(26,155,125,1) 67%,rgba(110,183,71,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116ba7', endColorstr='#6eb747',GradientType=1 ); /* IE6-9 */
  -webkit-background-clip: text;  /* подробнее про background-clip */ 
  color: transparent;
 }
 .bx-main_caption .b-mark{
	position: absolute;
	width: 320px;
	height: 70px;
	background: #fff;
	    right: 5px;
	        top: 10px;
}
.bx-main_caption .b-mark_img{
	width: 70px;
	height: 70px;
	float: left;
	background: #7fbc42;
	text-align: center;
}
.bx-main_caption .b-mark_img img{
	margin: 18px auto;
}
.bx-main_caption .b-mark_text{
	float: left;
	height: inherit;
	padding: 12px;
}
.bx-main_caption .b-mark_text p{
	color: #0c2236;
	font:normal 16px/24px 'PFDinTextPro-Medium', sans-serif;
	margin: 0;
}
/**/
.bx-tour_caption{
	position: absolute;
	top: 0;
    margin-top: 320px;
}
.bx-tour_caption p{
	color:#0c2236 ;
	font:bold 78px/96px 'PFDinTextPro-Bold', sans-serif;
	text-transform: uppercase;
	margin-left: 30px;
}
/**/
/**/

/*main-content*/
.main-content{
	position: relative;
	margin-top: -200px;
}
.relaxation{position: relative;margin-bottom: 20px;}
.relaxation:after{
	content: '';
	display: table;
	clear: both;
}
.relaxation-items{
	position: relative;
	text-align: center;
	margin-right: 20px;
}
.relaxation-items:last-child{
	margin: 0;
}
.relaxation-items_caption{
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	vertical-align:middle;
}
.relaxation-items_caption h3{
	color: #0c2236;
	font:normal 26px/30px 'PFDinTextPro-Medium', sans-serif;
	text-decoration: none;
	margin: 12px 0;
}
/**/

/*block-1*/
.block-1{position: relative;}
.block-1:after{
	content: '';
	display: table;
	clear: both;	
}
.b-tour{
	width: 660px;
}
.tour{
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	margin-right: 20px;
	overflow: hidden;
}
.tour:last-child{
	margin: 0;
}
.tour-items_caption{
	background: rgba(255,255,255,.7);
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	vertical-align:middle;
	-webkit-transition:.4s;
	-moz-transition:.4s;
	transition:.4s;
}
.tour-items_caption a{
	color: #0061ae;
	font:normal 36px/56px 'PFDinTextPro-Medium', sans-serif;
	text-transform: uppercase;
}
.tour-items_caption p{
	color: #0c2236;
	font:normal 16px/36px 'MyriadPro-Regular', sans-serif;
	text-transform: uppercase;
}
.tour-items_caption .price{
	color: #0c2236;
	font:normal 36px/36px 'MyriadPro-Regular', sans-serif;
	text-transform: uppercase;
	margin-top: 60px;
}
/*hover*/
.tour:hover .tour-items_caption{
	background: rgba(255,255,255,.7);
	position: absolute;
	top:auto;
	bottom: 0;
	left: 0;
	width: inherit;
	height: 180px;
	vertical-align:middle;
	text-align: left;
	padding-left: 30px;
		-webkit-transition:.4s;
	-moz-transition:.4s;
	transition:.4s;
}
.tour:hover .tour-items_caption img{
	display: none;
}
.tour:hover  .tour-items_caption a{
	font:normal 24px/30px 'PFDinTextPro-Medium', sans-serif;
}
.tour:hover .tour-items_caption p{
	font:normal 14px/30px 'MyriadPro-Italic';
	text-transform: none;
}
.tour:hover .tour-items_caption .price{
	margin: 0;
		color: #0c2236;
	font:normal 36px/36px 'MyriadPro-Regular', sans-serif;
	text-transform: uppercase;
}
/**/
.rpanel{
	width: 320px;
}
.v-support{
	width: 274px;
	height: 434px;
	border:3px solid #7fbc42;
	background: #fff;
	text-align: center;
	padding:0 20px;
}
.v-support a{
	 color: #0061ae;
	 font:normal 30px/36px 'PFDinTextPro-Medium', sans-serif;
	 text-decoration: none;
	 text-transform: uppercase;
	 margin: 10px auto;
	 display:block;
}
.v-support a>span{
		 border-bottom: 1px solid rgba(0, 97, 174,.3);
}
a>span:hover{
	border: 0;
	-webkit-transition:.4s;
	-moz-transition:.4s;
	transition:.4s;
}
.v-support p{
	color: #0c2236;
	font:normal 15px/22px 'PFDinTextPro-Regular', sans-serif;
}
.cal dl dt{
	background: #fff;
	height: 80px;
	padding: 20px 30px;
	color: #0c2236;
	font:normal 26px/30px 'PFDinTextPro-Medium', sans-serif;
}

.cal dl dd{
	background: #eee;
	margin: 0;
	width: inherit;
	height: 106px;

}
.cal-item{
	position: relative;
}
.cal-item_caption{
	position: absolute;
	top: 0;
	left: 30px;
	width: inherit;
	height: inherit;
	vertical-align:middle;
}
.cal-item_caption .cal-img{
	float: left;
	margin-right: 20px;	
	vertical-align: middle;
}
.cal-item_caption p{
	color: #fff;
	font:normal 18px/26px 'MyriadPro-Semibold', sans-serif;
	margin: 0;
	float: left;
}
/**/

/*welcom*/
.welcom{
	width: 1200px;
	margin:0 auto;
	position: relative;
}
.welcom-header{
	position: absolute;
	top: 300px;
	left:0;
	width: 100%;
}
.welcom-header p{
	color:#0c2236 ;
	font:bold 96px/100px 'PFDinTextPro-Bold', sans-serif;
	text-transform: uppercase;
	    margin-left: 30px;
}
.b-mark{
	position: absolute;
	width: 320px;
	height: 70px;
	background: #fff;
	    right: 150px;
	        top: 112px;
}
.b-mark_img{
	width: 70px;
	height: 70px;
	float: left;
	background: #7fbc42;
	text-align: center;
}
.b-mark_img img{
	margin-top: 15px;
}
.b-mark_text{
	float: left;
	height: inherit;
	padding: 12px;
}
.b-mark_text p{
	color: #0c2236;
	font:normal 16px/24px 'PFDinTextPro-Medium', sans-serif;
	margin: 0;
}
/**/

/*block-2*/
.block-2{
	position: relative;
	margin-top: -200px;
}
.block-2:after{
	content: '';
	display: table;
	clear: both;
}
.bx-excursion{
	margin-bottom: 20px;
}
.bx-excursion:after{
	content: '';
	display: table;
	clear: both;
}
.excursion-items{
	position: relative;
}
.excursion-items_caption{
	background: rgba(255,255,255,.7);
	position: absolute;
	left: 0;
	bottom: 0;
	width: inherit;
	height:auto;
	min-height: 180px;
	padding: 20px 0;
	vertical-align:middle;
}
.excursion-items_caption a{
	color: #0061ae;
	font:normal 24px/30px 'PFDinTextPro-Medium', sans-serif;
	text-transform: uppercase;
	display: block;
	margin-left: 30px;
}
.excursion-items_caption p{
	color: #0c2236;
	font:normal 14px/30px 'MyriadPro-Italic', sans-serif;
		padding-left: 30px;
		margin:0;
}
.excursion-items_caption .price{
		color: #0c2236;
	font:normal 36px/36px 'MyriadPro-Regular', sans-serif;
	text-transform: uppercase;

}
/**/
/*reviews*/
.reviews{
	background: #7fbc42;
	position: relative;
	margin: 20px auto;
}
.reviews-items{
	padding:30px;
}
.reviews-items p{
	color: #fff;
	font:normal 22px/30px 'MyriadPro-Italic', sans-serif;
}
.reviews-img{
	float: left;
	margin-right: 20px;
	width: 60px;
}
.reviews-text{
	float: left;
	color: #0c2236;
	font:normal 18px/24px 'MyriadPro-Medium', sans-serif;
	width: 180px;
}

.soc-net{
	position: absolute;
	width: inherit;
	text-align: center;
	bottom: 80px;
}
.btn-reviews{
	display: table;
	background: #689d40;
	width: inherit;
	height: 60px;
	color: #fff;
	font:normal 16px/60px 'MyriadPro-Medium', sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	bottom: 0;
}
/**/
/**/
.media{margin: 20px auto;}
.bx-media li{
	position: relative;
}
.media-caption{
	position: absolute;
	left: 0;
	top: 0;
}
.media-caption h2{

	font:normal 36px/30px 'PFDinTextPro-Medium', sans-serif;
	text-transform: uppercase;
	    margin-left: 30px;
}
.media-caption_text{
	margin:155px 0 0 30px;
}
.media-caption_text a{
	font:normal 24px/30px 'PFDinTextPro-Medium', sans-serif;
	text-transform: uppercase;
}
.media-caption_text em{
	color: #0c2236;
	font:normal 14px/22px 'MyriadPro-Italic', sans-serif;
}
.media-caption_text .icon{
	 float: left;
	 margin-right: 30px;
}
.media-caption_text .icon img{
	float: left;
	margin-right: 10px;
}
/**/

/*b-soc*/
.b-soc{
	position: relative;
	margin-bottom: 100px;
}
.b-soc:after{
	content: '';
	display: table;
	clear: both;
}
.soc-items{
	margin-right: 20px;
}
.soc-items:last-child{
	margin: 0;
}
/**/

/**/
.main-footer{
	width: 100%;
	height: 160px;
	background: #0c2236;
}
.copyright{
	float: left;
	width: 320px;
	margin-right: 20px;
	padding-top: 30px;
}
.copyright p{
	color: #828ca2;
	font:normal 14px/22px 'MyriadPro-Regular', sans-serif;
	margin-bottom: 20px;
}
.copyright span{
	color: #37476a;
	font:normal 14px/22px 'MyriadPro-Regular', sans-serif;
}
.adres{
	float: left;
	width: 320px;
	margin-right: 20px;
	padding-top: 30px;
}
.adres p{
	color: #fff;
	font:normal 14px/22px 'MyriadPro-Regular', sans-serif;
	margin-bottom: 5px;
}
.adres table{
	width: 100%;
}
.socnet{
	float: left;
	width: 320px;
	padding-top: 15px;
}
.socnet h4{
	color: #525d67;
	font:normal 16px/48px 'MyriadPro-Regular', sans-serif;
	text-transform: uppercase;
	margin: 0;
}
.socnet img{
	margin-right: 38px;
}
/*------------*/

/**/
.tour-header{
	background: url(../i/tour-slider-1.jpg) no-repeat;
	width: 1200px;
	height: 920px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.bread{
	margin-top: 150px;
}
.bread span{
	color: #cbcbcb;
	font:normal 14px/22px 'MyriadPro-Italic', sans-serif;
}
.tour-header h1{
	color: #0c2236;
	font:normal 48px/48px 'PFDinTextPro-Medium', sans-serif;
	text-transform: uppercase;
}
.tour-header p em>span{
	color: #0061ae;

}

	/*------*/
/*style chekbox*/
 /* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {vertical-align: top;margin: 0 3px 0 0;width: 21px;height: 21px;}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {cursor: pointer;}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 25px;
  height: 25px;
 /* border:2px solid #2c9ef8;*/
  background: url(../images/square.png);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: transparent;
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
.checkbox:not(checked) + label:hover:after{
  content: '✔';
  position: absolute;
    color: #048cf7;
  top: -4px;
  left: 0px;
  width: 21px;
  height: 21px;
  font-size: 38px;
      line-height: 20px;
    background: transparent;
}
/* Меняем фон чекбокса, когда он включен. ✔*/
.checkbox:checked + label:before {
  content: '✔';
      color: #048cf7;
        font-size: 38px;
            line-height: 20px;
  /*background: url(../images/checked.png) 50% 50%;*/

}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
  left: 26px;
}
/* Показываем получение фокуса. */
.checkbox:focus + label:before {
/*  box-shadow: 0 0 0 3px rgba(44, 158, 248,.3);*/
}

 /**/
.season{position: relative;margin-bottom: 20px;}
.season h2{color: #0c2236;font:normal 24px/30px 'PFDinTextPro-Medium', sans-serif;text-transform: uppercase;}
.season:after{content:'';display: table;clear: both;}
.si{margin-right: 20px;overflow: hidden;text-align: center;}
.si:last-child{margin-right: 0;}
.si_c{
	background: rgba(255,255,255,.7);
	position: absolute;
	bottom: 0;
	left: 0;
	width: inherit;
	height: inherit;
	vertical-align:middle;
	-webkit-transition:.4s;
	-moz-transition:.4s;
	transition:.4s;
}
.si_c-i{
	background: #0c2236;
	width: 50px;
	height: 50px;
	margin: 55px auto 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.si_c-i img{

	text-align: center;
	vertical-align: middle;
}
.si_c-n{
	margin: 10px 0 60px;

}
.si_c-n>span{
	color: #0061ae;
	font:normal 16px/48px 'PFDinTextPro-Medium', sans-serif;
	border-bottom: 1px dashed;
	text-transform: uppercase;
}
.si_c p{
	color: #0c2236;
	font:normal 14px/22px 'PFDinTextPro-Italic', sans-serif;
	margin: 0 0 10px;
}
.si-d em{
	color: #0061ae;
}
	/*si-hover*/
	.si:hover .si_c{
		height: 133px;
		bottom: 0;
	}
	/**/
/**/
.th-b{
	position: relative;
	overflow: hidden;
}
.th-b:after{
	content:'';
	display: table;
	clear: both;	
}
.th-b_visa{
	background: #fff;
	width: 312px;
	height: 115px;
	text-align: center;
	border: 3px solid #7fbc42;
	float: left;
	margin-right: 20px;
}
.th-b_visa img{
	display: block;
    float: left;
    margin-left: 30px;
}
.th-b_visa a{
	color: #0061AE;
    font: normal 30px/36px 'PFDinTextPro-Medium', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.th-b_cal{
	background: #fff;
	width: 660px;
	height: 121px;
	float: left;
}
.th-b_cal-head{
	width: 240px;
	height: inherit;
	float: left;
	padding:0 25px;
	font: normal 26px/30px 'PFDinTextPro-Medium', sans-serif;
}
.th-b_cal-event{
	width: 368px;
	height: inherit;
	float: right;
	position: relative;
}
.th-b_cal-event-caption{
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
}
.th-b_cal-event-caption img{
	display: block;
    float: left;
    margin:0 30px 0 40px;
}
.th-b_cal-event-caption span{
	color: #fff;
	font: normal 20px/28px 'MyriadPro-Semibold';
}
/**/
/*------*/
.vacation{
	position: relative;
	margin-bottom: 20px;
}
.vacation h2{
	color: #0c2236;
	font:normal 24px/30px 'PFDinTextPro-Medium', sans-serif;
	text-transform: uppercase;
}
.vacation:after{
	content:'';
	display: table;
	clear: both;
}

.vi{
	position: relative;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px;
}

.vi:nth-child(3n+1){
	margin-right: 0;
}
.vi_c{
	background: rgba(255,255,255,.7);
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	vertical-align:middle;
	-webkit-transition:.4s;
	-moz-transition:.4s;
	transition:.4s;
}

.vi-c_n{
	color: #0c2236;
	font: normal 26px/30px 'PFDinTextPro-Medium', sans-serif;
	margin: 15px 0;
}
.vi_c p{
	color: #0c2236;
	font:normal 16px/36px 'MyriadPro-Regular', sans-serif;
	text-transform: uppercase;
}
.vi-c_d{
	display: none;
	text-align: left;
}
.vi-c_d span{
	color: #0c2236;
	padding-left: 30px;
	font:normal 14px/30px 'PFDinTextPro-Italic', sans-serif;
}

.vi:hover .vi_c{
	top: auto;
	bottom: 0;
	height: 150px;

}
.vi:hover .b-vert>img{
	display: none;
}
.vi:hover .vi-c_n{
	text-align: left;
	color: #0061ae;
	padding-left: 30px;
	margin-bottom: 0;
}
.vi:hover .vi-c_d{
	display: block;
}
/**/
.feedback{
	position: relative;
	margin-bottom: 20px;
}
.feedback h2{
	color: #0c2236;
	font:normal 24px/30px 'PFDinTextPro-Medium', sans-serif;
	text-transform: uppercase;
}
.feedback:after{
	content:'';
	display: table;
	clear: both;
}
.fi{
	width: 320px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.fi:last-child{
	margin-right: 0;
}
.fi input{
	width: 280px;
	height: 41px;
	padding:0 20px;
	border: 0;
	color: #0c2236;
	font:normal 16px/36px 'MyriadPro-Italic', sans-serif;
}
.btn-fi{
	background: #7fbc42;
	width: 200px;
	height: 40px;
	color: #fff;
	font:normal 16px/40px 'PFDinTextPro-Medium', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
	border: 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.btn-fi:hover{
	-webkit-box-shadow:inset 0 0 10px 2px rgba(12,34,54,.5);
	box-shadow:inset 0 0 10px 2px rgba(12,34,54,.5);
}
.btn-fi:active{
	background: #0c2236;
}
/**/