@charset "utf-8";

/* RESET

-----------------------------------------------------------------------------------------------

===============================================================================================*/

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }


button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input:focus { outline: none; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }
textarea:focus {outline: none;}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 0 30px 0; padding: 5px 20px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }


pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }


pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }


sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

p {
	margin-top:0;
	line-height:22px;
	margin-bottom:17px;
}
/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 13px;}
dd { margin: 0 0 0 40px; }
/* =============================================================================
   Embedded content
   ========================================================================== */


img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
img[align="left"] {
    float: left;
    margin: 0 1em 1em 0;
}
img[align="right"] {
    float: right;
    margin: 0 0 1em 1em;
}

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; line-height: normal;}


/* OTHER ELEMENTS

--------------------------------------------------------- */
.fleft {
	float:left;
}
.fright {
	float:right;
}
.list, .list  ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	list-style-image: none;
}
/*MyriadPro*/
@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('../font/MyriadPro-Bold.eot');
	src: url('../font/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/MyriadPro-Bold.woff') format('woff'),
		 url('../font/MyriadPro-Bold.ttf') format('truetype'),
		 url('../font/MyriadPro-Bold.otf') format('otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'MyriadPro-Italic';
	src: url('../font/MyriadPro-Italic.eot');
	src: url('../font/MyriadPro-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../font/MyriadPro-Italic.woff') format('woff'),
		 url('../font/MyriadPro-Italic.ttf') format('truetype'),
		 url('../font/MyriadPro-Italic.otf') format('otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../font/MyriadPro-Regular.eot');
	src: url('../font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/MyriadPro-Regular.woff') format('woff'),
		 url('../font/MyriadPro-Regular.ttf') format('truetype'),
		 url('../font/MyriadPro-Regular.otf') format('otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('../font/MyriadPro-Semibold.eot');
	src: url('../font/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
		 url('../font/MyriadPro-Semibold.woff') format('woff'),
		 url('../font/MyriadPro-Semibold.ttf') format('truetype'),
		 url('../font/MyriadPro-Semibold.otf') format('otf');
	font-style: normal;
	font-weight: normal;
}
/**/
@font-face {
	font-family: 'PFDinTextPro-Bold';
	src: url('../font/PFDinTextPro-Bold.eot');
	src: url('../font/PFDinTextPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Bold.woff') format('woff'),
		 url('../font/PFDinTextPro-Bold.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Bold.svg#PFDinTextPro-Bold') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'PFDinTextPro-Light';
	src: url('../font/PFDinTextPro-Light.eot');
	src: url('../font/PFDinTextPro-Light.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Light.woff') format('woff'),
		 url('../font/PFDinTextPro-Light.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Light.svg#PFDinTextPro-Light') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PFDinTextPro-Medium';
	src: url('../font/PFDinTextPro-Medium.eot');
	src: url('../font/PFDinTextPro-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Medium.woff') format('woff'),
		 url('../font/PFDinTextPro-Medium.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Medium.svg#PFDinTextPro-Medium') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'PFDinTextPro-Regular';
	src: url('../font/PFDinTextPro-Regular.eot');
	src: url('../font/PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Regular.woff') format('woff'),
		 url('../font/PFDinTextPro-Regular.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Regular.svg#PFDinTextPro-Regular') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'PFDinTextPro-Thin';
	src: url('../font/PFDinTextPro-Thin.eot');
	src: url('../font/PFDinTextPro-Thin.eot?#iefix') format('embedded-opentype'),
		 url('../font/PFDinTextPro-Thin.woff') format('woff'),
		 url('../font/PFDinTextPro-Thin.ttf') format('truetype'),
		 url('../font/PFDinTextPro-Thin.svg#PFDinTextPro-Thin') format('svg');
	font-style: normal;
	font-weight: normal;
}
/**/
html,body{margin: 0;padding: 0;height: 100%; background: #e4e4e4;}
.clr{clear: both;}
.g-hidden{display: none;}
.g-row{width: 1000px;margin: 0 auto;}
.wrp{width: 100%; margin:0 auto;}
a,
a span{
	color: #0061ae;
	text-decoration: none;
}
a span{
	border-bottom: 1px solid rgba(0, 97, 174,.3);
}
a:hover span{
	border: 0;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	transition:.5s;
}
a:active span{
	border: 0;
	color: #000;
}
.b-box1{width: 160px;height: 160px; float: left; display: block;}
.b-box2{width: 320px;height: 260px; float: left; display: block;}
.b-box3{width: 320px;height: 440px; float: left; display: block;}
.b-box4{width: 660px;height: 440px; float: left; display: block;}
.b-vert{ display: table-cell; vertical-align: middle;width: inherit; height: inherit;}
/*header*/
.main-header{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
/**/

/*main-content*/
.relaxation{position: relative;margin-bottom: 20px;}
.relaxation:after{
	content: '';
	display: table;
	clear: both;
}
.relaxation-items{
	position: relative;
	text-align: center;
	margin-right: 20px;
}
.relaxation-items:last-child{
	margin: 0;
}
.relaxation-items_caption{
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	vertical-align:middle;
}
.relaxation-items_caption h3{
	color: #0c2236;
	font:normal 26px/30px 'PFDinTextPro-Medium';
	text-decoration: none;
	margin: 12px 0;
}
/**/

/*block-1*/
.block-1{position: relative;}
.block-1:after{
	content: '';
	display: table;
	clear: both;	
}
.b-tour{
	width: 660px;
}
.tour{
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	margin-right: 20px;
}
.tour:last-child{
	margin: 0;
}
.tour-items_caption{
	background: rgba(255,255,255,.7);
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	vertical-align:middle;
}
.tour-items_caption a{
	color: #0061ae;
	font:normal 36px/56px 'PFDinTextPro-Medium';
	text-transform: uppercase;
}
.tour-items_caption p{
	color: #0c2236;
	font:normal 16px/36px 'MyriadPro-Regular';
	text-transform: uppercase;
}
.tour-items_caption .price{
		color: #0c2236;
	font:normal 36px/36px 'MyriadPro-Regular';
	text-transform: uppercase;
	margin-top: 60px;
}
/**/
.rpanel{
	width: 320px;
}
.v-support{
	width: 314px;
	height: 434px;
	border:3px solid #7fbc42;
	background: #fff;
	text-align: center;
}
.v-support a{
	 color: #0061ae;
	 font:normal 30px/36px 'PFDinTextPro-Medium';
	 text-decoration: none;
	 text-transform: uppercase;
	 margin: 10px auto;
	 display:block;
}
.v-support a>span{
		 border-bottom: 1px solid rgba(0, 97, 174,.3);
}
.v-support p{
	color: #0c2236;
	font:normal 15px/22px 'PFDinTextPro-Regular';
}
.cal dl dt{
	background: #fff;
	height: 80px;
	padding: 20px 30px;
	color: #0c2236;
	font:normal 26px/30px 'PFDinTextPro-Medium';
}

.cal dl dd{
	background: #eee;
	margin: 0;
	width: inherit;
	height: 106px;

}
.cal-item{
	position: relative;
}
.cal-item_caption{
	position: absolute;
	top: 0;
	left: 30px;
	width: inherit;
	height: inherit;
	vertical-align:middle;
}
.cal-item_caption .cal-img{
	float: left;
	margin-right: 20px;	
	vertical-align: middle;
}
.cal-item_caption p{
	color: #fff;
	font:normal 18px/26px 'MyriadPro-Semibold';
	margin: 0;
	float: left;
}
/**/

/*welcom*/
.welcom{
	width: 1200px;
	margin:0 auto;
}
/**/

/*block-2*/
.block-2{
	position: relative;
}
.block-2:after{
	content: '';
	display: table;
	clear: both;
}
.bx-excursion{
	margin-bottom: 20px;
}
.bx-excursion:after{
	content: '';
	display: table;
	clear: both;
}
.excursion-items{
	position: relative;
}
.excursion-items_caption{
	background: rgba(255,255,255,.7);
	position: absolute;
	left: 0;
	bottom: 0;
	width: inherit;
	height:auto;
	min-height: 180px;
	padding: 20px 0;
	vertical-align:middle;
}
.excursion-items_caption a{
	color: #0061ae;
	font:normal 24px/30px 'PFDinTextPro-Medium';
	text-transform: uppercase;
	display: block;
	margin-left: 30px;
}
.excursion-items_caption p{
	color: #0c2236;
	font:normal 14px/30px 'MyriadPro-Italic';
		padding-left: 30px;
		margin:0;
}
.excursion-items_caption .price{
		color: #0c2236;
	font:normal 36px/36px 'MyriadPro-Regular';
	text-transform: uppercase;

}
/**/
/*reviews*/
.reviews{
	background: #7fbc42;
	position: relative;
	margin: 20px auto;
}
.reviews-items{
	padding:30px;
}
.reviews-items p{
	color: #fff;
	font:normal 22px/30px 'MyriadPro-Italic';
}
.reviews-img{
	float: left;
	margin-right: 20px;
	width: 60px;
}
.reviews-text{
	float: left;
	color: #0c2236;
	font:normal 18px/24px 'MyriadPro-Medium';
	width: 180px;
}

.soc-net{
	position: absolute;
	width: inherit;
	text-align: center;
	bottom: 80px;
}
.btn-reviews{
	display: table;
	background: #689d40;
	width: inherit;
	height: 60px;
	color: #fff;
	font:normal 16px/60px 'MyriadPro-Medium';
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	bottom: 0;
}
/**/
/**/
.media{margin: 20px auto;}
/**/

/*b-soc*/
.b-soc{
	position: relative;
	margin-bottom: 100px;
}
.b-soc:after{
	content: '';
	display: table;
	clear: both;
}
.soc-items{
	margin-right: 20px;
}
.soc-items:last-child{
	margin: 0;
}
/**/

/**/
.main-footer{
	width: 100%;
	height: 160px;
	background: #0c2236;
}
/**/